body {
  padding-top:78px;
  color: white;
  font-size: 2em;
 }
img {
  height: 250px;
  padding-bottom: 20px;
}
h2 {
  font-size: 3em;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-bottom: 30px;
  border-bottom: 2px solid grey;
}
/*a {
  color: lightgoldenrodyellow;
}*/
#name {
  background: linear-gradient(#7DAAF0, lightblue);
  height:400px;
  text-align: center;
  padding-top: 100px;
}
  #name h1{
    font-size: 4em;
    margin-bottom: 20px;
  }
#portfolio{
  color: black;
  background-color: white;
  padding-bottom: 20px;
  padding-top: 50px;
}
#about_me{
  background: linear-gradient(dimgray, darkslategrey);
  padding-top: 50px;
}
#contact{
  background: linear-gradient(#26244a, darkblue);
  padding-bottom: 50px;
  padding-top: 50px;
}
  .header ul{
    padding: 20px 20px 10px 10px;
  }
  .header h3{
    padding: 20px 20px 10px 10px;
  }
.resume{
  padding: 40px;
}
.btn-social{
  color: ivory;
  font-size: 3em;
}
.caption{
  background: rgba(90, 90, 90, .5);
}
.slide{
  height: 500px;
}
.navbar{
  background-color: #2C3E50;
  height: 100px; 
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.navbar-inverse.navbar-fixed-top.header h3{
  color: white;
}
/*ul {
    letter-spacing: -1em; 
}
ul li {
    display: inline;
    letter-spacing: normal; /* Reset letter-spacing to normal value */
}*/
